html{
    font-size: 62.5%;
}
@font-face {
    font-family: 'Alibaba Sans';
    src: url("font/Alibaba-PuHuiTi-Regular.ttf");
}
p,h1,h2,h3,h4,h5{
    margin: 0;
    font-weight: normal;
}
em{
    font-style: normal;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    background-color: #000000;
    font-family: 'Alibaba Sans';
}

.page{
    width: 75rem;
    color: var(--text-color);
    background-color: #FFFFFF;
}

/* 补补队长提示 */
.reminder{
    position: relative;
    width: 100%;
    height: 24rem;
    background-image: url('https://huolibubu-1308276565.cos.ap-shanghai.myqcloud.com/static/upload/images/wechat-mock/220127-m12.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.reminder p{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 18rem);
    height: calc(100% - 1.2rem);
    padding-left: 10rem;
    padding-right: 8rem;
    align-items: center;
    font-size: 2.8rem;
    display: flex;
    line-height: 4rem;
}

/* block的标题 */
.block h2{
    font-size: 3.6rem;
    line-height: 5.2rem;
    width: 100%;
    height: 16.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block h2 code{
    padding: 0.4rem 4rem;
    border-radius: 1.6rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

/* 列表文本，左侧标题，右侧描述 */
.list-view ul{
    padding: 0 4rem;
    width: calc(100% - 8rem);
}
.list-view ul li{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.list-view ul li code{
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 3.6rem;
    width: 15.2rem;
    padding: 1.2rem;
    border-radius: 1.6rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 4rem;
}
.list-view ul li em{
    font-size: 2.8rem;
    line-height: 3.6rem;
    width: calc(100% - 19.6rem);
    padding: 1.2rem 0 1.2rem 2rem;
    margin-bottom: 4rem;
}
.list-view p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 图片卡片 */
.image-card{
    position: relative;
}
.image-card ul{
    position: absolute;
    width: calc(100% - 16rem);
    padding: 1rem 2rem 1rem 6rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 3.6rem;
    line-height: 5.2rem;
}
.image-card.left-bottom ul{
    bottom: 8rem;
    left: 0;
}
.image-card.left-top ul{
    top: 8rem;
    left: 0;
}
.image-card.right-bottom ul{
    bottom: 8rem;
    right: 0;
}
.image-card.right-top ul{
    top: 8rem;
    right: 0;
}

/* 列表文本，带checkbox */
.check-list ul{
    padding: 0 4rem;
    width: calc(100% - 8rem);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.check-list ul li::before{
    content: '';
    min-width: 4rem;
    height: 4rem;
    background-image: url('./icon/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    margin-right: 2rem;
}
.check-list ul li{
    font-size: 2.8rem;
    line-height: 4rem;
    padding-bottom: 4rem;
    display: flex;
}
/* 图片（栅格，4格） */
.image-grid-4 p{
    margin-top: 4rem;
    display: flex;
}
.image-grid-4 p img{
    width: 18rem;
    margin-right: 1rem;
}
.image-grid-4 p img:last-child{
    margin-right: 0;
}

/* 图片（栅格，3格） */
.image-grid-3 p{
    margin-top: 4rem;
    display: flex;
}
.image-grid-3 p img{
    width: 23.8rem;
    margin-right: 1.8rem;
}
.image-grid-3 p img:last-child{
    margin-right: 0;
}

/* 带图片的列表 */
.image-list{
    width: 100%;
    display: inline-block;
}
.image-list p{
    width: 26rem;
    float: left;
}
.image-list p img{
    width: 100%;
}
.image-list h3{
    width: calc(100% - 32rem);
    padding: 0 3rem;
    font-size: 2.8rem;
    line-height: 4.4rem;
    margin-bottom: 4rem;
    float: left;
}
.image-list ul{
    font-size: 2.8rem;
    line-height: 4.4rem;
    width: calc(100% - 32rem);
    padding: 0 3rem;
    float: left;
}
.image-list p:last-child{
    width: 100%;
    margin-top: 4rem;
}


/* QA列表，左侧提问，右侧回答 */
.qa-list ul{
    font-size: 2.8rem;
    line-height: 4rem;
    padding-bottom: 8rem;
}
.qa-list ul li{
    display: flex;
    flex-direction: column;
}
.qa-list ul li code{
    padding: 1.6rem 2rem 1.6rem 6rem;
    background-color: #FBFBFB;
    border: 0.2rem solid var(--primary-color);
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-width: 52rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-right: auto;
}

.qa-list ul li em{
    padding: 1.6rem 4rem 1.6rem 2rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    max-width: 52rem;
    margin-bottom: 4rem;
    margin-left: auto;
}
